<h1>Liste des categories</h1>

<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Titre</th>
      <th scope="col">Description</th>

    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <th scope="row"><%= category.id %></th>
      <td>
      <%= category.title %>
      </td>
      <td>
      <%= category.content %>
      </td>
      <% end %>
    </tr>


  </tbody>
</table>
<% @categories.each do |category| %>
<h2> <%= category.title %></h2>
<% end %>

<p>
  <a href="<%= new_category_path %>" class="btn btn-outline-primary btn-lg btn-block">Créer une nouvelle categorie</a>
</p>
